<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calculator - Week 2</title>
    <script type="text/javascript" src="vendors/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="scripts/calculator.js"></script>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <h1>Calculator - Week 2</h1>
    <div>
      <input type="number" id="numOneInput" placeholder="Enter a number.">
      <input type="number" id="numTwoInput" placeholder="Enter a number.">
    </div>
    <div>
      <button type="button" value="+" id="addBtn">Addition</button>
      <button type="button" value="-" id="subtractBtn">Subtraction</button>
      <button type="button" value="*" id="multiplyBtn">Multiplication</button>
      <button type="button" value="/" id="divisionBtn">Division</button>
      <button type="button" id="clearBtn">Clear Inputs</button>
    </div>
    <p>Answer: <span id="answer"></span></p>
  </body>
</html>
