/*  CALCULATOR - STYLING  */

h1 {
  font-size: 42px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  color: rgb(88, 102, 163);
  text-align: center;
  margin-top: 50px;
}

#calculatorDiv {
  width: 300px;
  height: auto;
  background-color: rgb(218, 214, 214);
  padding: 40px 25px 10px 25px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 8px 10px 15px rgb(195, 192, 192);
  border-width: 5px;
  border-style: outset;
}

#title {
  width: 125px;
  height: 40px;
  float: left;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-family: 'E-SQUARE', sans-serif;
}

span {
  position: relative;
  top: 1px;
}

#solarPanel {
  width: 175px;
  height: 40px;
  float: left;
}

#pnl1 {
  width: 23%;
  height: 40px;
  float: left;
  border-right: 3px solid rgb(48, 42, 41);
  background-color: rgb(45, 32, 30);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#pnl2 {
  width: 24%;
  height: 40px;
  float: left;
  border-right: 3px solid rgb(48, 42, 41);
  background-color: rgb(45, 32, 30);
}

#pnl3 {
  width: 24%;
  height: 40px;
  float: left;
  border-right: 3px solid rgb(48, 42, 41);
  background-color: rgb(45, 32, 30);
}

#pnl4 {
  width: 23%;
  height: 40px;
  float: left;
  background-color: rgb(45, 32, 30);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#calcInput {
  width: 286px;
  height: 70px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 46px;
  padding: 0 5px;
  background-color: rgb(158, 168, 168);
  box-shadow: inset 0 0 14px rgb(134, 134, 134);
  font-family: 'Digital-7', sans-serif;
}

h3 {
  text-align: center;
}

.btn {
  width: 65px;
  height: 50px;
  font-size: 22px;
  margin-bottom: 4px;
  border-radius: 7px;
  box-shadow: 2px 2px 4px rgb(145, 145, 145);
}

.btnColorLight:hover {
  background-color: rgb(228, 228, 228);
}

.btnColorLight:active {
  background-color: rgb(205, 205, 205);
  box-shadow: 0px 0px 1px rgb(145, 145, 145);
  transform: translateY(2px);
}

.btnColorDark:hover {
  background-color: rgb(115, 112, 112);
}

.btnColorDark:active {
  background-color: rgb(87, 85, 85);
  box-shadow: 0px 0px 1px rgb(145, 145, 145);
  transform: translateY(2px);
}

#clearAllBtn:hover {
  background-color: rgb(78, 91, 147);
}

#clearAllBtn:active {
  background-color: rgb(61, 72, 117);
  box-shadow: 0px 0px 1px rgb(145, 145, 145);
  transform: translateY(2px);
}

.btnColorLight {
  background-color: rgb(246, 246, 246);
  border: 1px solid rgb(156, 152, 152);
}

.btnColorDark {
  background-color: rgb(131, 131, 131);
  color: rgb(222, 222, 222);
  border: 1px solid rgb(94, 94, 94);
}

.btnOff {
  position: relative;
  top: -1px;
  padding: 0;
  margin-left: 13px;
  margin-bottom: 2px;
  margin-top: 15px;
  width: 65px;
  height: 50px;
  font-size: 15px;
  border-radius: 7px;
  background-color: rgb(78, 154, 84);
  color: rgb(222, 222, 222);
  border: 1px solid rgb(94, 94, 94);
  box-shadow: 2px 2px 4px rgb(145, 145, 145);
}

.btnOff:hover {
  background-color: rgb(67, 133, 72);
}

.btnOff:active {
  background-color: rgb(53, 105, 57);
  box-shadow: 0px 0px 1px rgb(145, 145, 145);
  transform: translateY(2px);
}

.btnOn {
  position: relative;
  top: -1px;
  padding: 0;
  margin-left: 13px;
  margin-bottom: 2px;
  margin-top: 15px;
  width: 65px;
  height: 50px;
  font-size: 15px;
  border-radius: 7px;
  background-color: rgb(154, 78, 78);
  color: rgb(222, 222, 222);
  border: 1px solid rgb(94, 94, 94);
  box-shadow: 2px 2px 4px rgb(145, 145, 145);
}

.btnOn:hover {
  background-color: rgb(133, 67, 67);
}

.btnOn:active {
  background-color: rgb(105, 53, 53);
  box-shadow: 0px 0px 1px rgb(145, 145, 145);
  transform: translateY(2px);
}



.btn:focus, .btnOn:focus, .btnOff:focus {
  outline: 0;
}

#sevenBtn, #fourBtn, #oneBtn, #zeroBtn{
  margin-right: 6px;
  margin-top: 6px;
}

#eightBtn, #fiveBtn, #twoBtn {
  margin-right: 6px;
}

#divideBtn, #multiplyBtn, #subtractBtn, #plusBtn{
  margin-left: 14px;
}

#equalBtn {
  width: 65px;
  margin-left: 7px;
}

#clearAllBtn {
  position: relative;
  font-size: 20px;
  width: 215px;
  margin: 0;
  top: 9px;
  background-color: rgb(88, 102, 163);
}

#createdBy {
  margin: 10px 0;
  text-align: center;
  font-size: 10px;
  color: rgb(154, 154, 154);
}
